@model HomePageListVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="row booking-container">
    <div class="col booking-container-left">
        <h1 class="title-booking-left">
            Forget Busy Work,
            Start Next Vacation
        </h1>
        <form asp-action="FindHotel                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 n">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>How long you stay</legend>
                <input type="button" value="-" class="decrease-button" />
                <input type="text" id="input-booking-stay" value="0" />
                <input type="button" value="+" class="increase-button" />
            </fieldset>
            <fieldset>
                <legend>How many people:</legend>
                <input type="button" value="-" class="decrease-button" />
                <input type="text" id="input-booking-people" value="0" />
                <input type="button" value="+" class="increase-button" />
            </fieldset>
            <fieldset>
                <legend>Location</legend>
                <select asp-items="@ViewBag.Location" class="form-select input-booking-location">
                    <option>Select Location</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Pick a Date</legend>
                <button type="button" class="date-picker-icon"><i class="fas fa-calendar-alt"></i></button>
                <input type="text" class="form-control datepicker" />
            </fieldset>
            </br>
            <button type="submit" class="button-survey-hotel">Survey Avaiable Hotel</button>
        </form>
    </div>
    <div class="col booking-container-right">
        <img src="/img/banner.png" />
    </div>
</div>
<p class="title-content">Most Picked</p>
<div class="image-grid">
    @foreach (HotelListVM popularHotel in Model.PopularList)
        {
            if (popularHotel == Model.PopularList.First())
            {


<a class="image-grid-col-2 image-grid-row-2 img-homepage">
                @if(@popularHotel.PricePerDay != null)
                        {
                                                <span class="notify-badge">@popularHotel.PricePerDay$ Per Day</span>
                        }
                
<div class="title-badge-container">
    <span>@popularHotel.Name</span>
    <br />
    <span style="font-weight: 400;font-size:14px;">@popularHotel.Location</span>
</div>
                @if (@popularHotel.HotelPicture != null && @popularHotel.HotelPicture.Length >0)
                    {
                    <img class="" src="@popularHotel.HotelPicture" alt="architecture">
                    }
                    else
                    {
                    <img class="" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="architecture">
                    }



            </a>
            }
            else
            {
<a class="img-homepage image-grid-col-2">
    @if (@popularHotel.PricePerDay != null)
        {
        <span class="notify-badge">@popularHotel.PricePerDay$ Per Day</span>
        }

<div class="title-badge-container">
    <span>@popularHotel.Name</span>
    <br />
    <span style="font-weight: 400;font-size:14px;">@popularHotel.Location</span>
</div>
    @if (@popularHotel.HotelPicture != null && @popularHotel.HotelPicture.Length > 0)
    {
        <img class="" src="@popularHotel.HotelPicture" alt="architecture">
    }
    else
    {
        <img class="" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="architecture">
    }
</a>
            }
        }
    

    </div>
<p class="title-content">Have King Bed</p>

<section class="vertical-center-3 slider">
    @foreach (var hotelKingBed in Model.HotelBedList)
    {
        <div>
            @if (hotelKingBed.HotelPicture != null && hotelKingBed.HotelPicture.Length > 0)
            {
                <img class="image-slider" src="@hotelKingBed.HotelPicture">
            }
            else
            {
                <img class="image-slider" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930">
            }

        </div>
    }
   

</section>


