@model HomePageListVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="row booking-container">
    <div class="col booking-container-left">
        <h1 class="title-booking-left">
            Forget Busy Work,
            Start Next Vacation
        </h1>
        <form asp-controller="HomePage" asp-action="FindHotel">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <legend>How long you stay</legend>
                <input type="button" value="-" class="decrease-button" />
                <input  readonly="readonly" type="text" id="input-booking-stay" class="input-homepage" value="1" name="day" />
                <input type="button" value="+" class="increase-button" />
            </fieldset>
            <fieldset>
                <legend>How many people:</legend>
                <input type="button" value="-" class="decrease-button" />
                <input  readonly="readonly" type="text" class="input-homepage" id="input-booking-people" name="people" value="1" />
                <input type="button" value="+" class="increase-button" />
            </fieldset>
            <fieldset>
                <legend>Location</legend>
                <select asp-items="@ViewBag.Location" name="SearchString" class="form-select input-booking-location">
                    <option value="all">All</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Pick a Date</legend>
                <button readonly="readonly" type="button" class="date-picker-icon"><i class="fas fa-calendar-alt"></i></button>
                <input name="datetime" type="text" class="form-control datepicker input-homepage" />
            </fieldset>
            </br>
            <button type="submit" class="button-survey-hotel">Survey Avaiable Hotel</button>
        </form>
    </div>
    <div class="col booking-container-right">
        <img src="/img/banner.png" />
    </div>
</div>
<p class="title-content" >Most Picked</p>
<div class="image-grid">
    @foreach (HotelListVM popularHotel in Model.PopularList)
    {
        if (popularHotel == Model.PopularList.First())
        {


            <a asp-controller="Homepage" asp-action="HotelDetail" asp-route-id="@popularHotel.Id" class="image-grid-col-2 image-grid-row-2 img-homepage">
                @if (@popularHotel.PricePerDay != null)
                {
                    <span class="notify-badge">@popularHotel.PricePerDay$ Per Day</span>
                }

                <div class="title-badge-container">
                    <span>@popularHotel.Name</span>
                    <br />
                    <span style="font-weight: 400;font-size:14px;">@popularHotel.Location</span>
                </div>
                @if (@popularHotel.HotelPicture != null && @popularHotel.HotelPicture.Length > 0)
                {
                    <img class="" src="@popularHotel.HotelPicture" alt="architecture">
                }
                else
                {
                    <img class="" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="architecture">
                }



            </a>
        }
        else
        {
            <a asp-controller="Homepage" asp-action="HotelDetail" asp-route-id="@popularHotel.Id" class="img-homepage image-grid-col-2">
                @if (@popularHotel.PricePerDay != null)
                {
                    <span class="notify-badge">@popularHotel.PricePerDay$ Per Day</span>
                }

                <div class="title-badge-container">
                    <span>@popularHotel.Name</span>
                    <br />
                    <span style="font-weight: 400;font-size:14px;">@popularHotel.Location</span>
                </div>
                @if (@popularHotel.HotelPicture != null && @popularHotel.HotelPicture.Length > 0)
                {
                    <img class="" src="@popularHotel.HotelPicture" alt="architecture">
                }
                else
                {
                    <img class="" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" alt="architecture">
                }
            </a>
        }
    }


</div>
<p class="title-content" >Have King Bed</p>

<section class="vertical-center-3 slider " data-aos-offset="300"
     data-aos-easing="ease-in-sine">
    @foreach (var hotelKingBed in Model.HotelBedList)
    {
        <div>
            @if (hotelKingBed.HotelPicture != null && hotelKingBed.HotelPicture.Length > 0)
            {
                    <a asp-controller="Homepage" asp-action="HotelDetail" asp-route-id="@hotelKingBed.Id">
                        <img class="image-slider" src="@hotelKingBed.HotelPicture">
                        <p>@hotelKingBed.Name</p>
                        <p>@hotelKingBed.Location</p>
                     </a>
               
            }
            else
            {
        <a asp-controller="Homepage" asp-action="HotelDetail" asp-route-id="@hotelKingBed.Id">
            <img class="image-slider" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930">
            <p class="hotel-slider-title">@hotelKingBed.Name</p>
            <p class="hotel-slider-location">@hotelKingBed.Location</p>
        </a>
                
            }

        </div>
    }


</section>
<p class="title-content">Have Kitchen in room</p>

<section class="vertical-center-3 slider" >
    @foreach (var hotelKingBed in Model.KitchenInRoom)
    {
        <div>
            @if (hotelKingBed.HotelPicture != null && hotelKingBed.HotelPicture.Length > 0)
            {
                <a asp-controller="Homepage" asp-action="HotelDetail" asp-route-id="@hotelKingBed.Id">
                    <img class="image-slider" src="@hotelKingBed.HotelPicture">
                    <p>@hotelKingBed.Name</p>
                    <p>@hotelKingBed.Location</p>
                </a>
            }
            else
            {
                <a asp-controller="Homepage" asp-action="HotelDetail" asp-route-id="@hotelKingBed.Id">
                    <img class="image-slider" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930">
                    <p class="hotel-slider-title">@hotelKingBed.Name</p>
                    <p class="hotel-slider-location">@hotelKingBed.Location</p>
                </a>
            }

        </div>
    }


</section>

<div class="row story-container" data-aos-offset="300"
     data-aos-easing="ease-in-sine" data-aos="zoom-in">
    <div class="col-4"> <img src="/img/story-banner.png" /></div>
    <div class="col-8 story-container-left">
        <p class="story-title">Happy Family</p>
        <div>
            <i class="fas fa-star" style="color: #FFCC47; font-size: 20px;"></i>
            <i class="fas fa-star" style="color: #FFCC47; font-size: 20px;"></i>
            <i class="fas fa-star" style="color: #FFCC47; font-size: 20px;"></i>
            <i class="fas fa-star" style="color: #FFCC47; font-size: 20px;"></i>
            <i class="fas fa-star" style="color: #FFCC47; font-size: 20px;"></i>
        </div>
        <p class="story-main-title">
            What a great trip with my family and
            I should try again next time soon ...
        </p>
        <a asp-area="" asp-controller="HomePage" asp-action="Explore"  class="button-survey-hotel" style="width: 210px; color:white;line-height:45px;">Read Their Story</a>
    </div>
</div>
