@model IEnumerable<BookingListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Booking List</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.People)
            </td>
            <td>
                @if (item.Status)
                {


                    <span style="color: #22A699;font-weight: 600"> <button  class="dot-green"></button>Done</span>
                }
                else
                {
                    <span style="color: #F2BE22; font-weight: 600 "><button class="dotYellow"></button>Spending</span>

                }
            </td>
           
            <td>
                
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"> Details</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
